In [1]:
import pandas as pd

df = pd.read_csv("./cafe-data.csv")
df.head()

,Cafe Name,Location,Open,Close,Coffee,Wifi,Power
0,Lighthaus,https://goo.gl/maps/2EvhB4oq4gyUXKXx9,11AM,3:30PM,☕☕☕☕️,💪💪,🔌🔌🔌
1,Esters,https://goo.gl/maps/13Tjc36HuPWLELaSA,8AM,3PM,☕☕☕☕,💪💪💪,🔌
2,Ginger & White,https://goo.gl/maps/DqMx2g5LiAqv3pJQ9,7:30AM,5:30PM,☕☕☕,✘,🔌
3,Mare Street Market,https://goo.gl/maps/ALR8iBiNN6tVfuAA8,8AM,1PM,☕☕,💪💪💪,🔌🔌🔌

In [2]:
list(df.columns)

['Cafe Name', 'Location', 'Open', 'Close', 'Coffee', 'Wifi', 'Power']

In [3]:
df.values

array([['Lighthaus', 'https://goo.gl/maps/2EvhB4oq4gyUXKXx9', '11AM',
        ' 3:30PM', '☕☕☕☕️', '💪💪', '🔌🔌🔌'],
       ['Esters', 'https://goo.gl/maps/13Tjc36HuPWLELaSA', '8AM', '3PM',
        '☕☕☕☕', '💪💪💪', '🔌'],
       ['Ginger & White', 'https://goo.gl/maps/DqMx2g5LiAqv3pJQ9',
        '7:30AM', '5:30PM', '☕☕☕', '✘', '🔌'],
       ['Mare Street Market', 'https://goo.gl/maps/ALR8iBiNN6tVfuAA8',
        '8AM', '1PM', '☕☕', '💪💪💪', '🔌🔌🔌']], dtype=object)

In [4]:
for row in df.values:
    print(row)

['Lighthaus' 'https://goo.gl/maps/2EvhB4oq4gyUXKXx9' '11AM' ' 3:30PM'
 '☕☕☕☕️' '💪💪' '🔌🔌🔌']
['Esters' 'https://goo.gl/maps/13Tjc36HuPWLELaSA' '8AM' '3PM' '☕☕☕☕' '💪💪💪'
 '🔌']
['Ginger & White' 'https://goo.gl/maps/DqMx2g5LiAqv3pJQ9' '7:30AM'
 '5:30PM' '☕☕☕' '✘' '🔌']
['Mare Street Market' 'https://goo.gl/maps/ALR8iBiNN6tVfuAA8' '8AM' '1PM'
 '☕☕' '💪💪💪' '🔌🔌🔌']

In [11]:
pd.DataFrame({"Coffe": [1], "Rating":[2]})

   Coffe  Rating
0      1       2