In [1]:
import pandas as pd

df = pd.read_csv("./cafe-data.csv")
df.head()

,Cafe Name,Location,Open,Close,Coffee,Wifi,Power
0,Lighthaus,https://goo.gl/maps/2EvhB4oq4gyUXKXx9,11AM,3:30PM,â˜•â˜•â˜•â˜•ï¸,ğŸ’ªğŸ’ª,ğŸ”ŒğŸ”ŒğŸ”Œ
1,Esters,https://goo.gl/maps/13Tjc36HuPWLELaSA,8AM,3PM,â˜•â˜•â˜•â˜•,ğŸ’ªğŸ’ªğŸ’ª,ğŸ”Œ
2,Ginger & White,https://goo.gl/maps/DqMx2g5LiAqv3pJQ9,7:30AM,5:30PM,â˜•â˜•â˜•,âœ˜,ğŸ”Œ
3,Mare Street Market,https://goo.gl/maps/ALR8iBiNN6tVfuAA8,8AM,1PM,â˜•â˜•,ğŸ’ªğŸ’ªğŸ’ª,ğŸ”ŒğŸ”ŒğŸ”Œ

In [2]:
list(df.columns)

['Cafe Name', 'Location', 'Open', 'Close', 'Coffee', 'Wifi', 'Power']

In [3]:
df.values

array([['Lighthaus', 'https://goo.gl/maps/2EvhB4oq4gyUXKXx9', '11AM',
        ' 3:30PM', 'â˜•â˜•â˜•â˜•ï¸', 'ğŸ’ªğŸ’ª', 'ğŸ”ŒğŸ”ŒğŸ”Œ'],
       ['Esters', 'https://goo.gl/maps/13Tjc36HuPWLELaSA', '8AM', '3PM',
        'â˜•â˜•â˜•â˜•', 'ğŸ’ªğŸ’ªğŸ’ª', 'ğŸ”Œ'],
       ['Ginger & White', 'https://goo.gl/maps/DqMx2g5LiAqv3pJQ9',
        '7:30AM', '5:30PM', 'â˜•â˜•â˜•', 'âœ˜', 'ğŸ”Œ'],
       ['Mare Street Market', 'https://goo.gl/maps/ALR8iBiNN6tVfuAA8',
        '8AM', '1PM', 'â˜•â˜•', 'ğŸ’ªğŸ’ªğŸ’ª', 'ğŸ”ŒğŸ”ŒğŸ”Œ']], dtype=object)

In [4]:
for row in df.values:
    print(row)

['Lighthaus' 'https://goo.gl/maps/2EvhB4oq4gyUXKXx9' '11AM' ' 3:30PM'
 'â˜•â˜•â˜•â˜•ï¸' 'ğŸ’ªğŸ’ª' 'ğŸ”ŒğŸ”ŒğŸ”Œ']
['Esters' 'https://goo.gl/maps/13Tjc36HuPWLELaSA' '8AM' '3PM' 'â˜•â˜•â˜•â˜•' 'ğŸ’ªğŸ’ªğŸ’ª'
 'ğŸ”Œ']
['Ginger & White' 'https://goo.gl/maps/DqMx2g5LiAqv3pJQ9' '7:30AM'
 '5:30PM' 'â˜•â˜•â˜•' 'âœ˜' 'ğŸ”Œ']
['Mare Street Market' 'https://goo.gl/maps/ALR8iBiNN6tVfuAA8' '8AM' '1PM'
 'â˜•â˜•' 'ğŸ’ªğŸ’ªğŸ’ª' 'ğŸ”ŒğŸ”ŒğŸ”Œ']

In [11]:
pd.DataFrame({"Coffe": [1], "Rating":[2]})

   Coffe  Rating
0      1       2